.slick-items {
    margin: 0 auto;
}

@media screen and (max-width: 750px) {
    .slick-items {
        max-width: 300px;
    }
}

@media screen and (min-width: 750px) and (max-width: 991px) {
    .slick-items {
        max-width: 620px;
    }
}

@media screen and (min-width: 991px) {
    .slick-items {
        max-width: 930px;
    }
}

.upcoming-matches__container {
    width: 500px;
    height: 300px;
    border: 1px solid #260000;
    border-radius: 5px;
    margin: 0 auto;
}

.upcoming-matches__block__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upcoming-matches__block__annonce {
    margin: 10px auto;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

.upcoming-matches__block__team img {
    margin: 0 auto;
}

.upcoming-matches__block__team__title {
    display: block;
    text-align: center;
    width: 96px;
    font-weight: bold;
    color: #260000;
}

.upcoming-matches__block__dash {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #260000;
    position: relative;
    top: 45px;
}

@media screen and (max-width: 630px) {
    .upcoming-matches__container {
        width: 300px;
        height: 200px;
    }

    .upcoming-matches__block__team img {
        width: 60px;
        height: 60px;
    }

    .upcoming-matches__block__dash {
        width: 15px;
        height: 1px;
    }

    .upcoming-matches__block__annonce {
        font-size: 13px;
    }

    .upcoming-matches__block__team__title {
        font-size: 11px;
        width: 60px;
    }
}

.trophies__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.trophies__block {
    margin: 20px 40px;
}

.trophies__block__amount {
    display: block;
    text-align: center;
}

.trophies__block__title {
    display: block;
    text-align: center;
    width: 100px;
}